@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
$--color-bg-1: #121212;
$--color-bg-2: #242424;
$--color-brand: #e7b837;
$--color-brand-light: #dbb959;
$--color-body: #c0c0c0;
$--color-border: rgba(255, 255, 255, 0.1);
$--color-heading: #fff;
$--font-main: "Plus Jakarta Sans";
$--border-radius: 32px;
    